body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
}

/* Additional styles for the dashboard */
#dashboardlayout {
  display: flex;
  flex-wrap: wrap;
  max-width: 1125px;
  justify-content: space-around;
  margin: auto;
}

#dashboard {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.dashboard-button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #2196F3;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  transition: background-color 0.2s;
}

.dashboard-button:hover {
  background-color: #0d8aee;
}

/* Styles for search bar */
#searchbar {
  width: 35%;
  display: flex;
  justify-content: center;
  margin-bottom: -3%;
}

#searchbar input[type=text] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 0px; 
}


/* Updated styles for the search button */
#searchbar input[type=submit] {
  background-color: #2196F3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1em;
  float: left;
}

/* Position the search button to the right of the search bar */
#search-button {
  margin-left: auto;
}

#searchbar input[type=submit]:hover {
  background-color: #0d8aee;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  max-width: 100%;
}

.logo a {
  max-width: 250px;
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
}

.logo {
  max-width: 250px;
  margin-right: 30px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% - 280px);
  max-width: 500px;
}

/* Hide logo for smaller screens */
@media (max-width: 1100px) {
  .logo {
    display: none;
  }
}

table {
  width: 500px;
  margin: 50px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #2196F3;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

form {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0  ,0,0.2);
}

input[type=file] {
  display: block;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=submit] {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #2196F3;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  transition: background-color 0.2s;
  font-size: 1em;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0d8aee;
}

#status {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.question-container {
  margin-top: 20px;
  margin: auto;
  padding: 10px;
  width:500px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.options {
  margin-top: 10px;
}

.option {
  display: block;
  margin-bottom: 5px;
}

.timer {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.option-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.option-button:hover {
  background-color: #3e8e41;
}

.option-button.selected {
  background-color: #1e7b32;
}

.option-button.correct {
  background-color: #0f0;
}

.option-button.incorrect {
  background-color: #f00;
}

.result-container {
  margin-top: 20px;
  margin: auto;
  padding: 10px;
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.leaderboard-button {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #2196F3;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  transition: background-color 0.2s;
}

.leaderboard-button:hover {
  background-color: #0d8aee;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Asset Button Style */
.add-asset-button {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
    float: right;
    margin-top: 1%;
}

.add-asset-button:hover {
    background-color: #0d8aee; /* Darker blue color on hover */
}

/* CSS for flash messages */
#flash-messages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.flash-messages {
    list-style: none;
    padding: 0;
}

.flash-message {
    margin: 0 0 10px;
    padding: 10px 20px;
    border-radius: 3px;
}

.flash-message.success {
    background-color: #4CAF50;
    color: #fff;
}

.flash-message.error {
    background-color: #F44336;
    color: #fff;
}


.edit-button {
    background-color: #007BFF; /* Blue color */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the header */
header {
    background-color: #007BFF; /* Header background color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Add spacing as needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Style for the logo */
.logo {
    font-size: 21px;
    font-weight: bold;
}

/* Style for the navigation menu */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px; /* Add spacing between menu items */
}

nav ul li a {
    text-decoration: none;
    color: white; /* Menu item text color */
    font-weight: 500; /* Menu item text weight */
    transition: color 0.3s; /* Add a smooth color transition */
}

nav ul li a:hover {
    color: #003366; /* Menu item text color on hover */
}

/* Style for the search bar */
.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px; /* Add spacing between search input and button */
}

.search button {
    padding: 10px 20px;
    background-color: #003366; /* Search button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth color transition */
}

.search button:hover {
    background-color: #002855; /* Search button background color on hover */
}

/* Style for the dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #003366;
    color: white;
}

/* Updated styles for the client-details page */
.client-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.client-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-details-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.client-details-navigation {
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #0d8aee;
}

/* Apply custom styles to the DataTables table */
table.dataTable {
    margin: 0 auto;
    clear: both;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Apply custom styles to the DataTables search input */
div.dataTables_wrapper div.dataTables_filter input {
    margin-top: 0;  /* Adjust the margin as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 0px;
}

/* Highlight on hover for DataTables rows */
table.dataTable tbody tr:hover {
    background-color: #ddd;
}

/* Apply custom styles to your search button */
#search-button {
    /* Your custom styles here */
}

#search-button:hover {
    /* Your custom styles for the button on hover here */
}

.clickable-row {
    cursor: pointer;
}