            {% include 'header.html' %}
            <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#new-client-modal" onclick="searchClients()">New Client</button>
          </div>
        </nav>
    </div>
    <div class="container" style="padding: 1.5%;">
        .
    </div>
    <!-- Clients Page Contents-->
    <div class="container">
        <table id="clients-table" class="table table-hover" style="cursor: pointer;">
            <thead>
                <tr>
                    <th sortable="true">Account Number</th>
                    <th sortable="true">Client Name</th>
                    <th sortable="true">Address</th>
                    <th sortable="true">Town/City</th>
                    <th sortable="true">Postcode</th>
                    <th sortable="true">Status</th>
                </tr>
            </thead>
            <!-- Display clients from the database -->
            {% for client in clients %}
                <tr class="clickable-row" data-href="{{ url_for('client_details', account_number=client.account_number) }}">
                    <td>{{ client.account_number }}</td>
                    <td>{{ client.client_name }}</td>
                    <td>{{ client.address_line_1 }}, {{ client.address_line_2 }}</td>
                    <td>{{ client.town_city }}</td>
                    <td>{{ client.postcode }}</td>
                    <td>{{ client.status }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Modals -->

    <div class="modal fade" id="new-client-modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Create New Client</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/save-client" method="post" id="add-client-form">
                        <div class="mb-3">
                            <label for="account_number" class="form-label">Account Number:</label> <!-- Need to re-add automated numbering -->
                            <input type="text" name="account_number" class="form-control" id="account_number" required>
                        </div>
                        <div class="mb-3">
                            <label for="client_name" class="form-label">Client Name:</label>
                            <input type="text" name="client_name" class="form-control" id="client_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="address_line_1" class="form-label">Address Line 1:</label>
                            <input type="text" class="form-control" name="address_line_1" id="address_line_1" required>
                        </div>
                        <div class="mb-3">
                            <label for="address_line_2" class="form-label">Address Line 2:</label>
                            <input type="text" class="form-control" name="address_line_2" id="address_line_2" required>
                        </div>
                        <div class="mb-3">
                            <label for="town_city" class="form-label">Town/City:</label>
                            <input type="text" class="form-control" name="town_city" id="town_city" required>
                        </div>
                        <div class="mb-3">
                            <label for="county" class="form-label">County:</label>
                            <input type="text" class="form-control" name="county" id="county" required>
                        </div>
                        <div class="mb-3">
                            <label for="postcode" class="form-label">Postcode:</label>
                            <input type="text" class="form-control" name="postcode" id="postcode" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone_number" class="form-label">Contact Number:</label>
                            <input type="text" class="form-control" name="phone_number" id="phone_number" required>
                        </div>           
                        <div class="mb-3">
                            <label for="status">Status:</label>
                            <select class="form-select" aria-label="Active Status" name="status" id="status">
                                <option selected>Select Client Status</option>
                                <option value="Active">Active</option>
                                <option value="Closed">Closed</option>
                                <option value="Prospect">Prospect</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Add Client">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#uploadclientscsv" data-bs-toggle="modal">Upload Client CSV</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadclientscsv" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/upload-clients" method="post" enctype="multipart/form-data" id="upload-clients-form">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="csv_file">Upload Clients CSV File:</label>
                        </div>
                        <div class="mb-3">
                            <input type="file" name="csv_file" id="csv_file" accept=".csv" class="btn btn-outline-primary">
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="upload-clients-button" type="submit" value="Upload CSV" class="btn btn-outline-primary">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="/download-client-template" class="btn btn-secondary" download>Download Template</a>
            </div>
            </div>
        </div>
    </div>

        <div class="modal fade" id="uploadclientscsv" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/upload-clients" method="post" enctype="multipart/form-data" id="upload-clients-form">
                        <div class="form-group">
                            <div class="mb-3">
                                <label for="csv_file">Upload Clients CSV File:</label>
                            </div>
                            <div class="mb-3">
                                <input type="file" name="csv_file" id="csv_file" accept=".csv" class="btn btn-outline-primary">
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="upload-clients-button" type="submit" value="Upload CSV" class="btn btn-outline-primary">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="/download-client-template" class="btn btn-secondary" download>Download Template</a>
                </div>
                </div>
            </div>
        </div>
    <script>
        // Function to perform the client search
        function searchClients() {
            const searchInput = document.getElementById('search').value;
            const url = `/clients?search=${searchInput}`;
            window.location.href = url;
        }

        document.addEventListener("DOMContentLoaded", function() {

            // Attach close event listeners to all elements with class 'close'
            var closeButtons = document.getElementsByClassName('close');
            for (var i = 0; i < closeButtons.length; i++) {
                closeButtons[i].addEventListener('click', function() {
                    var modal = this.closest('.modal');
                    if (modal) {
                        modal.style.display = 'none';
                    }
                });
            }

            // Initialize DataTables on your clients table
            $('#clients-table').DataTable({
                searching: true,
                paging: true
                // Additional DataTable options can be added here
            });

            // Handle click on table rows
            $('#clients-table tbody').on('click', '.clickable-row', function() {
                window.location.href = $(this).data('href');
            });

            // Add client form submission
            var addClientForm = document.getElementById('add-client-form');
            addClientForm.addEventListener('submit', function(event) {
                event.preventDefault();
                var formData = new FormData(addClientForm);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/save-client', true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // Handle the response here
                        // Potentially reload the page or update the table to show the new client
                    }
                };
                xhr.send(formData);
            });
        });
    </script>
</body>
</html>
