<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>TrackEx Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>
  <body>
    <div class="container-fluid">
        <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">TrackEx</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Jobs">Jobs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/clients">Clients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/equipment">Equipment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contracts">Contracts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Account</a>
                </li>
              </ul>
            </div>
            <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="modal" data-bs-target="#new-client-modal" onclick="searchClients()">New Client</button>
          </div>
        </nav>
    </div>
    <div class="container" style="padding: 1.5%;">
        .
    </div>
    <div class="client-details-container">
      <div class="client-details-header">
        <h2>Client Details</h2>
        <p>Account Number: {{ client_details.account_number }}</p>
      </div>
      <form action="/update-client" method="post" class="client-details-form"> <input

          name="account_number" value="{{ client_details.account_number }}" readonly="readonly"

          type="hidden">
        <div class="form-group"> <label for="client_name">Client Name:</label>
          <input name="client_name" id="client_name" value="{{ client_details.client_name }}"

            required="" type="text"> </div>
        <div class="form-group"> <label for="address_line_1">Address Line 1:</label>
          <input name="address_line_1" id="address_line_1" value="{{ client_details.address_line_1 }}"

            required="" type="text"> </div>
        <div class="form-group"> <label for="address_line_2">Address Line 2:</label>
          <input name="address_line_2" id="address_line_2" value="{{ client_details.address_line_2 }}"

            type="text"> </div>
        <div class="form-group"> <label for="town_city">Town/City:</label> <input

            name="town_city" id="town_city" value="{{ client_details.town_city }}"

            required="" type="text"> </div>
        <div class="form-group"> <label for="county">County:</label> <input name="county"

            id="county" value="{{ client_details.county }}" required="" type="text">
        </div>
        <div class="form-group"> <label for="postcode">Postcode:</label> <input

            name="postcode" id="postcode" value="{{ client_details.postcode }}"

            required="" type="text"> </div>
        <div class="form-group"> <label for="phone_number">Phone Number:</label>
          <input name="phone_number" id="phone_number" value="{{ client_details.phone_number }}"

            required="" type="text"> </div>
        <div class="form-group"> <label for="status">Status:</label> <input name="status"

            id="status" value="{{ client_details.status }}" required="" type="text">
        </div>
        <div class="client-details-navigation" style="margin: auto; padding-left: 2%;">
          <input value="Save" class="button" type="submit"> <a href="/equipment"

            class="button">Equipment</a> <a href="/contacts" class="button">Contacts</a>
          <a href="/reports" class="button">Reports</a> </div>
      </form>
    </div>
  </body>
</html>
