<!-- Include the header -->
{% include 'header.html' %}
    <div class="search">
        <button id="add-equipment-button">Upload Equipment</button>
    </div>
</header>

<!-- Add Equipment Modal -->
<div id="add-equipment-modal" class="modal">
    <div class="modal-content" style="width: 45%; margin-top: 1%;">
        <span class="close">&times;</span>
        <h2>Upload New Equipment</h2>
        <form action="/upload-equipment" method="post" enctype="multipart/form-data" id="add-equipment-form">
            <div class="form-group">
                <label for="csv_file">Upload Equipment CSV File:</label>
                <input type="file" name="csv_file" id="csv_file" accept=".csv">
            </div>
            <div class="equipment-details-navigation">
                <input type="submit" value="Upload CSV" class="button">
            </div>
        </form>
    </div>
</div>

<!-- Equipment Table -->
<div style="width: 95%; padding-top: 1%; margin: auto;">
    <table id="equipment-table" style="width: 100%; margin-top: 10px;">
        <thead>
            <tr>
                <th>Asset Number</th>
                <th>Client</th>
                <th>Equipment Type</th>
                <th>Equipment Sub Type</th>
                <th>Serial Number</th>
                <th>Client Asset ID</th>
                <th>Sub Location</th>
                <th>Safe Working Load</th>
                <th>Inspection Frequency</th>
                <th>Year of Manufacture</th>
            </tr>
        </thead>
        <!-- Display equipment from the database -->
        {% for equip in equipment %}
            <tr class="clickable-row" data-href="{{ url_for('equipment_details', equipment_number=equip.equipment_number) }}">
                <td>{{ equip.equipment_number }}</td>
                <td>{{ equip.client_name }}</td>
                <td>{{ equip.equipment_type }}</td>
                <td>{{ equip.equipment_sub_type }}</td>
                <td>{{ equip.serial_number }}</td>
                <td>{{ equip.client_asset_id }}</td>
                <td>{{ equip.sub_location }}</td>
                <td>{{ equip.safe_working_load }}</td>
                <td>{{ equip.inspection_frequency }}</td>
                <td>{{ equip.year_of_manufacture }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Add equipment button event listener
        document.getElementById('add-equipment-button').addEventListener('click', function() {
            openAddEquipmentModal();
        });
        // Function to handle row clicks and redirect to equipment details page
        $('#equipment-table tbody').on('click', '.clickable-row', function() {
            window.location.href = $(this).data('href');
        });
        $('#equipment-table').DataTable({
            searching: true, // Enable search bar
            paging: true,    // Enable pagination
            // Add other DataTable options as needed
        });

        // Close modal when clicking on the 'x' span
        document.querySelector('.close').addEventListener('click', function() {
            closeAddEquipmentModal();
        });
    });

    function openAddEquipmentModal() {
        // Code to display the modal
        document.getElementById('add-equipment-modal').style.display = 'block';
    }

    function closeAddEquipmentModal() {
        // Code to hide the modal
        document.getElementById('add-equipment-modal').style.display = 'none';
    }

    // AJAX submission for adding equipment
    document.getElementById('add-equipment-form').onsubmit = function(event) {
        event.preventDefault(); // Prevent form from submitting the default way

        var formData = new FormData(this);

        fetch('/equipment/create', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Handle response data
            console.log(data);
            closeAddEquipmentModal();
            // Optionally, refresh the DataTable or update it with new data
        })
        .catch(error => {
            // Handle errors
            console.error('Error:', error);
        });
    };
</script>
</body>
</html>