<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="#">Equipment</a></li>
            <li><a href="#">Contracts</a></li>
            <li class="dropdown">
                <a href="#">Account</a>
                <div class="dropdown-content">
                    <a href="/upload">Settings</a>
                    <a href="/assettracker">Log Out</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="search">
        <input type="text" id="search" name="search" placeholder="Search Here.">
        <button id="search-button" onclick="searchClients()">Search</button>
    </div>
</header>
