<!DOCTYPE html>
<html>
  <head>
    <title>Exam Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
<head>
  <title>ISI - Asset Tracker</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% include 'header.html' %}
  <div id="dashboardlayout">
    <div id="dashboard">
      <h1>Global Exam Results</h1>
        <table>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
            <th>Total Questions</th>
            <th>Percentage</th>
          </tr>
          {% for result in results %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ result['name'] }}</td>
            <td>{{ result['score'] }}</td>
            <td>{{ result['total_questions'] }}</td>
            <td>{{ result['percentage'] }}%</td>
          </tr>
          {% endfor %}
        </table>
        <a href="/" class="dashboard-button" style=" float: right;">Back to Dashboard</a>
      </div>
    </div>
  </body>
</html>
